<%= form_for @node, :html => { :class => "form-horizontal node" } do |f| %>

  <% if @node.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @node.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :user, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user) %>
  </div>
  <div class="form-group">
    <%= label_tag :password, 'Password', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= password_field_tag :password, "", :class => 'form-control' %>
    </div>
    <%=f.error_span(:user) %>
  </div>
  <div class="form-group">
    <%= f.label :id_rsa, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= text_area_tag :id_rsa, '', :class => 'form-control', :rows => "5"%>
    </div>
    <%=f.error_span(:id_rsa) %>
  </div>
  <div class="form-group">
    <%= f.label :id_rsa_pub, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :id_rsa_pub, :class => 'form-control', :rows => "5"%>
    </div>
    <%=f.error_span(:id_rsa_pub) %>
  </div>
  <div class="form-group">
    <%= f.label :info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :info, :class => 'form-control', :rows => "5"%>
    </div>
    <%=f.error_span(:info) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                nodes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
